API_PORT=3000
JWT_SECRET=devsecret

DATABASE_PORT=5432
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=devdb
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DATABASE_PORT}/${POSTGRES_DB}?sslmode=disable

REDIS_PORT=6379
REDIS_ADDR=redis:${REDIS_PORT}
REDIS_PASSWORD=devpassword
REDIS_DB=0